body {
  background: #c8c8c8;
  height: 100vh;
}
.container {
  height: 100vh;
}
.back-ground {
  position: relative;
  background-image: url("../images/car-mechanic.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.content-wrap {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #8b786678;
  height: 100vh;
}
.content {
  margin-top: 45vh;
}
p {
  color: rgb(255, 255, 255);
}
span {
  display: inline-block;
  margin-left: 5px;
}
img {
  width: 43px;
}
